.dashboardBox
{
    font-family: 'Roboto';
}

/* ----------------------------------------------

universal page styling

------------------------------------------------*/



.headerBar {
    margin-bottom: 30px;
    padding: 10px 20px;
  }

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  max-width: 1000px;
}
  
.headerTitle {
margin: 0;
}

.logoutIconButton {
background-color: #f0f0f0;
transition: background-color 0.3s ease;
}

.logoutIconButton:hover {
background-color: #e0e0e0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  max-width: 1000px;
}

.footerCon
{
    margin-top: 50px;
    font-family: 'Roboto';
    color: grey;
    text-align: center;
    font-size: 10px;
}

.landingBlock1
{
  background-color: #f1f0f0;
  border-radius: 24px;
  padding: 20px;
  width: 600px;
}

.landingBlock2
{
  background-color: #f1f0f0;
  border-radius: 24px;
  padding: 20px;
}
  